[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

youtube-dl = "*"
"72eb2aa" = {file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip"}
websockets = "*"


[dev-packages]



[requires]

python_version = "3.6"
