[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

youtube-dl = "*"
websockets = "*"
pynacl = "*"
"discord.py" = {extras = ["voice"]}


[dev-packages]



[requires]

python_version = "3.6"
